.bg-top {
    background-image: url("../img/volcan.jpg");
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-position: 25% 35%;
}

footer {
    background-image: url("../img/volcanbot.jpg");
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-position: 70% 10%;
}

.bg-dark-blue {
    background-color: #141318;
}

.courgette {
    font-family: 'Courgette', cursive;
}

.homeCard {
    height: 16rem;
}

.carouselIg {
    position: relative;
    overflow: hidden;

    width: 90%;
    margin: 0 auto;
}

.slide img {
    height: 100%;
}

.slide p {
    margin-top: 20%;
}

.carouselIg .slideContainer {
    /* Flex permet d'afficher horizontalement les enfants du slides-container (les diapositives) */
    display: flex;
    transition: transform .9s;
}

.carouselIg .slideContainer .slide {
    /* Alignement horizontal des diapositives */
    flex: 0 0 100%;
    height: 25rem;
    /* Hauteur pouvant être personnalisée */

    /* Ajustement des bordures */
    padding: 10px;
    box-sizing: border-box;

    /* Personnalisation facultative, que vous pouvez adapter à votre affichage */
    background-color: #141318;
    text-align: center;
}

.carouselIg .btnContainer * {
    /* Forme des boutons */
    height: 40px;
    width: 40px;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding-bottom: 50px;

    /* Contenu des boutons */
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;

    /* Centrer verticalement les boutons */
    position: absolute;
    top: calc(50% - 20px);

    /* Interaction avec la souris */
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s;
}

.carouselIg .btnContainer *:hover {
    /* Effet de survol */
    opacity: 1;
}

.carouselIg .btnContainer .button-next {
    /* Le bouton "next" sera à droite */
    right: 0;
}

.min-vw-80 {
    min-width: 80vw;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-7 {
    margin-top: 7rem;
}

.icone-size {
    height: 1.5rem;
    width: 1.5rem;
}

#originalDice {
    width: 80px;
    height: 80px;
}

.dice {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url(../img/de20.png);
}

.profil-pict {
    height: 230px;
    width: 130px;

}
/*pour cacher les point a cocher lors de la selection d'image par default*/
input[type="radio"].profilPict {
    display: none;

}

input[type="radio"].profilPict+label {
    border: 0.4rem dashed #141318;
}

input[type="radio"].profilPict:checked+label {
    border: 0.4rem solid rgb(255, 255, 255);

}
/*pour cacher les points a cocher lors de la selection du perso*/
input[type="checkbox"].selectCard {
    display: none;

}

input[type="checkbox"].selectCard+label {
    border: 0.4rem dashed #141318;
}

input[type="checkbox"].selectCard:checked+label {
    background-color:#fff;
    color: black;
}

/*pour cacher les points a cocher lors de la selection de l'histoire*/
input[type="radio"].storyCard {
    display: none;

}
input[type="radio"].storyCard:checked+label {
    background-color:#fff;
    color: black;
}
/*message d'erreurs plus vif que le danger de bootstrap pour la lisibilité du site.*/
.errors {
    color: red;
}

@media (min-width: 992px) {

    .w-70-lg {
        width: 70%;
        height: 70%;
    }

    .w-40-lg {
        width: 40%;
        height: 40%;
    }

    .w-50-lg {
        width: 50%;
        height: 50%;
    }

    .w-15-lg {
        width: 15%;
        height: 15%;
    }

    .w-25-lg {
        width: 25%;
        height: 25%;
    }

    .cover {
        width: 200px;
        height: 500px;
    }


}

@media (min-width: 768px) {
    .carouselIg .slideContainer .slide {
        height: 50rem;
    }

    .w-25-md {
        width: 25%;
        height: 25%;
    }

    .w-40-md {
        width: 40%;
        height: 40%;
    }

    .slide p {
        margin-top: 10%;
    }
}